/*-----------------------------------
    Main Page CSS
-----------------------------------*/

body {
    background-color: #f2f6f9;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    /*white-space: nowrap;*/
}

.thumbnail img {
    width: 100%;
}

ul{
    list-style-type: none;
}

#cart-count{
    color: #fff;
} 

.flash {
  text-align: center;
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: #fff
}

  .flash.notice {
    background-color: green;
  }

  .flash.error {
    background-color: orange;
  }

#blurb {
    margin-left: 30%;
    margin-right: 30%;
    display:none;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.stock {
    padding-right: 10px;
    padding-left: 10px;
    color: #006400;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

/*-----------------------------------
    Shopping Cart CSS
-----------------------------------*/

#shopping-cart {
    display:none;
}

#applyDiscount {
    margin-top: 10px;
}

#discount{
    padding-bottom: 10px;
}

/*----------------------------------- 
    Main
-----------------------------------*/



.container.text-center{
    padding: 0 32px;
}

/*-----------------------------------  
    Logo and description 
----------------------------------- */


.col-md-5.col-sm-12{
    padding: 0;
}

.col-md-5.col-sm-12 h1{
    color: #595c5f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px;
    text-align: left;
}

.col-md-5.col-sm-12 p{
    color: #898e92;
    line-height: 1.5;
    max-width: 400px;
    text-align: justify;
}

/*-----------------------------------  
    Cart items list
-----------------------------------*/

.col-md-7.col-sm-12{
    padding-left: 50px ;
    margin-bottom: 72px;
}

.row{
    box-shadow: 1px 1px 1px #e1e5e8;
    padding-bottom :0;
    padding-left: 0px;
    background-color: #f2f6f9;
    margin-bottom: 11px;
}

.row span{
    padding: 20px 0 6px 6px;
}

.whited {
    background-color: #ffffff;
}

/* Column Captions */

.columnCaptions{
    color: #7e93a7;
    font-size:12px;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    background-color: #f2f6f9;
}

.columnCaptions span:first-child{
    padding-left:8px;
}

.columnCaptions span{
    padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
    float: right;
    padding-right: 72px;
}


/* Items */

.itemName{  
    color: #727578;
    font-size :1.2em;
    font-weight: bold;
    float: left;
    padding-left:25px;
    word-wrap: break-word;
    width: 200px;
}


.quantity{  
    color: #4ea6bc;
    font-size :1.2em;
    font-weight: bold;
    float : left;
    width: 42px;
    padding-left: 0px;
    padding-right: 10px;
}


.popbtn{
    background-color: #e6edf3;
    margin-left: 25px;
    height: 80px;
    width: 40px;
    padding: 40px 0 0 14px !important;
    float: right;
    cursor: pointer;
}

.arrow{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #858e97;
}

.price{
    color: #f06953;
    font-size :1.2em;
    font-weight: bold;
    float: right;
}


/* Totals */

.totals{
    background-color: #f2f6f9;
}

.totals span{
    padding: 40px 15px 40px 0;
}

.totals .price{
    float: left;
}

.totals .itemName{
    width:150px;
}

.totals .order{
    float: right;
    padding: 0;
    margin-top: 90px; 
    padding-left: 5px;
    cursor: pointer;
}

.order a{
    background-color: #f08573;
    color: #fbfffa;
    font-weight: bold;
    border-radius: 2px;
    padding: 15px 15px;
}


/* Popovers */

.popover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border: 0;
    background-color: #ffffff;
}

.popover.bottom{
    margin-top: -9px;
}

.glyphicon{
    width: 24px;
    font-size: 24px;
    padding: 0;
}

.glyphicon-pencil{
    color: #858e97;
    margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
    color: #f06953;
    margin-right: 10px;
}

/*-----------------------------------  
    Media Queries 
----------------------------------- */

/* Tablet size */

/*max-width: 992px*/

@media (max-width: 992px) {

    .container.text-center{
        padding: 0 15px;
    }

    .breadcrumb{
        margin-bottom: 32px;
    }

    .bigcart{
        margin: 0 auto 40px auto;
    }

    #voucherForm{
        width: 70%;
        margin: 0 auto;
    }

    .col-md-5.col-sm-12 h1{
        text-align: center;
    }

    .col-md-5.col-sm-12 p{
        margin: 0 auto 64px auto;
        text-align: justify;
    }

    .col-md-7.col-sm-12{
        padding-left: 10px ;
        padding-right: 50px;
    }

    .totals{
        box-shadow: 0 0 0;
    }

}


/* Mobile device size */

/*max-width: 768px*/

@media (max-width: 768px) {

    .navbar{ 
        padding:10px 0;
    }
    
    .minicart{
        margin-right: -1px;
        padding-right: 0;
    }

    .navbar-brand{
        padding-left: 0;
    }

    .col-md-5.col-sm-12 p{
        max-width: 300px;
    }

    .col-md-7.col-sm-12{
        padding-left: 0;
        padding-right: 15px;
        margin-bottom: 32px;
    }

    .col-md-7.col-sm-12 ul{
        padding-left: 15px ;
    }

    .row{
        padding-bottom:10px;
    }

    #voucherForm{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;
    }

    .quantity{
        position: static;
        padding-left: 0px  
        width: 23px;
        padding-right: 40px !important;
    }

    .popbtn{
        background-color: white;
        position: static;
        height:40px;
        right: 0;
    }

    .order{
        float: left;
    }

    .price{ 
        position: static;
        right: 42px;
    }

    .totals{
        padding: 0;
    }

    .totals .price{
        position: static;
    }

    /* Change Bootstrap's default popover to make it look nice on a mobile device */

    .popover.bottom>.arrow{
        left: auto;
        margin-left: 0;
        right: 5px;
    }

    .popover.bottom{
        margin-top: 7px;
        margin-left: -40px;
    }

}